<div>
  @if(!isItemInCart()){<button class="add-to-cart" (click)="addToCart()">
    <img src="/assets/carbon_shopping-cart-plus.svg" />
    <p>Add to cart</p></button
  >} @if(isItemInCart()) {

  <div class="item-in-cart">
    <div class="increase" (click)="decreaseQuantity()">
      <svg
        (click)="decreaseQuantity()"
        width="10"
        height="2"
        viewBox="0 0 10 2"
        fill="none"
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 0.375H10V1.625H0V0.375Z" />
      </svg>
    </div>

    <span>{{ quantity }} </span>
    <div class="decrease" (click)="increaseQuantity()">
      <svg
        width="10"
        height="10"
        class="icon"
        viewBox="0 0 10 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 4.375H5.625V0H4.375V4.375H0V5.625H4.375V10H5.625V5.625H10V4.375Z"
        />
      </svg>
    </div>
  </div>
  }
</div>
